<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Calculator</title>
</head>
<body>
    <form action="/defalut" method="POST">
        <input type="text" name="num1" value=""/>
        <input type="text" name="num2" value=''/>
        <button type="submit"  formaction="/add">Addition</button>
        <button type="submit" formaction="/sub">Subtraction</button>
        <button type="submit"  formaction="/multiply">Multiplication</button>
        <button type="submit"  formaction="/div">Division</button>
    </form>
</body>
</html>